<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{TITLE}</title>
{STYLES}
{SCRIPTS}
{INLINE_STYLE}
{COMMAND}
</head>

<body>
	<div id="chrome">
		<a id="main-logo" href="{BASE_URL}">faye</a>
		<div id="typeahead-search">
			{TYPEAHEAD}
		</div>
		
		<ul id="chrome-menu">
		</ul>
	</div>
	<div id="content">
		
	</div>
	<div id="bottom-bar">
	</div>
</body>
</html>
