<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{TITLE}</title>
{STYLES}
{SCRIPTS}
{COMMAND}
</head>

<body>
	<h1>{TITLE}</h1>
	<p>{CONTENT}</p>
	
	{BREADCRUMB}
	{COMBO_BOX}
	{BUTTON}
	{GRID}
	{RADIO}
	{CHECK}
	{TEXTFIELD}
	{TEXTAREA}
	{LIST}
	{TEXT}
	{TEXT2}
	{FORM}
	{LISTBOX}
	{TYPEAHEAD}
	{USERAGENT}
	{NOTIFICATION}
</body>
</html>